@using webAppDevi.Common;
@{
    ViewBag.Title = "Encrypt/Dycrypt";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<div class="forms-main">
    <h2 class="inner-tittle">Dycrypt/Encrypt key</h2>
    <div class="graph-form">
        <div class="form-body ">
            @using (Ajax.BeginForm("Index", "EncryptDycrypt",
                new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divAuto" },
                new { enctype = "multipart/form-data" }))
            {
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12">
                            <div class="col-sm-3 col-md-3">
                                <p class="help-block">
                                    <label for="radio">Select for Encrypt or Decrypt : </label>
                                </p>
                            </div>
                            <div class="col-sm-9 col-md-9">
                                <div class="radio-inline">
                                    <label>
                                        <input value="@EnumHelper.EncryptDecrypt.Encrypt.GetHashCode()" name="EncryptDecryptOption" type="radio">
                                        @Enum.GetName(typeof(EnumHelper.EncryptDecrypt), 1)
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input value="@EnumHelper.EncryptDecrypt.Decrypt.GetHashCode()" name="EncryptDecryptOption" type="radio">
                                        @Enum.GetName(typeof(EnumHelper.EncryptDecrypt), 2)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12">
                            <div class="col-sm-9 col-md-9">
                                <p class="help-block help-block1">
                                    <input id="txtEncryptDecrypt" name="EncryptDecrypt" type="text"
                                           class="form-control1" placeholder="Enter Encrypt or Decrypt key" />
                                </p>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12">                           
                            <label id="lblKey">@TempData["EncryptDecryptKey"]</label>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<style type="text/css">
    .help-block1 {
        margin-top: 12px !important;
    }
</style>
